{% extends 'profile/index.html.twig' %}
{% block content %}
    <div class="counter-header">
        <form action="" id="main_counter_form">
            <div class="left-float">
                <input id="name_counter" name="name_counter" class="form-control" placeholder="{% trans %}Counter name{% endtrans %}">
            </div>
            <div class="left-float">
                <select id="counter_project" class="form-control">
                    <option value="">{% trans %}Choose project{% endtrans %}</option>
                    {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="display_counter" id="main_counter">
                00:00:00
            </div>
            <div class="right-float">
                <img id="main_button_action" class="timer_action" src="{{asset('build/images/play_button.png')}}" alt="" data-state="pause" data-timer_id="">
                <img id="main_button_stop" class="timer_stop hidden" src="{{asset('build/images/stop_button.png')}}" alt="" data-state="new">
            </div>
        </form>
    </div>
    <table class="table vertical-middle">
        <thead>
        <tr>
            <th class="hidden">Id</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Project{% endtrans %}</th>
            <th>{% trans %}State{% endtrans %}</th>
            <th>{% trans %}TimerStart{% endtrans %}</th>
            <th>{% trans %}Time{% endtrans %}</th>
            <th>{% trans %}CreatedAt{% endtrans %}</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for timer in timers %}
            {% set src = 'build/images/play_button32.png' %}
            {% if timer.state == 'run' %}
                {% set src = 'build/images/pause_button32.png' %}
            {% endif %}
            <tr>
                <td class="hidden">{{ timer.id }}</td>
                <td class="row_name">{{ timer.name }}</td>
                <td class="row_project" {% if timer.project %}data-project_id="{{ timer.project.id }}"{% endif %}>{% if timer.project %}{{ timer.project.name }}{% endif %}</td>
                <td class="counter_state">{{ timer.state }}</td>
                <td>{{ timer.timerStart ? timer.timerStart|date('Y-m-d H:i:s') : '' }}</td>
                <td class="row_timer">{% if timer.state == 'run' %}{{ (now|date('U') - timer.timerStart|date('U')) }}{% else %}{{ timer.time }}{% endif %}</td>
                <td>{{ timer.createdAt ? timer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <img class="timer_action" src="{{asset(src)}}" alt="" data-state="{{ timer.state }}" data-timer_id="{{ timer.id }}">
                    <img class="timer_stop {% if timer.state != 'pause' and timer.state != 'run' %}hidden{% endif %}" src="{{asset('build/images/stop_button32.png')}}" alt="" data-state="new" data-timer_id="{{ timer.id }}">
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(timers) }}
    </div>
{% endblock %}