{% extends 'profile/index.html.twig' %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}CreatedAt{% endtrans %}</th>
            <th>{% trans %}Total time{% endtrans %}</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.time }}</td>
                <td>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">Edit</a>
                    <a href="{{ path('project_delete', {'id': project.id}) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(projects) }}
    </div>
{% endblock %}