{% extends 'base.html.twig' %}
{% block title %} {% trans %}Registration{% endtrans %}{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.login) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <button class="btn" type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}