<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}Welcome{% endtrans %}!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/build/css/global.css">
            {#{{ encore_entry_link_tags('css/global') }}#}
        {% endblock %}
        {#<script src="{{ asset('build/js/websocket.js') }}"></script>#}
        {#<link rel="manifest" href="/build/manifest.json">#}
        {#<script src="{{ asset('build/js/moment-timer.js') }}"></script>#}
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
        <script src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
        <script type="text/javascript">
          const _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";
        </script>
    </head>
    <body>
        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('default') }}">
                                home
                            </a>
                            {#<a class="navbar-brand" href="{{ path('articles') }}">#}
                                {#Articles#}
                            {#</a>#}
                            {#<a class="navbar-brand" href="{{ path('test') }}">Test page</a>#}
                            {% if app.user == false %}
                                <a class="navbar-brand" href="{{ path('app_login') }}">
                                    login
                                </a>
                                <a class="navbar-brand" href="{{ path('user_registration') }}">
                                    register
                                </a>
                            {% endif %}

                            {% block header_navigation_links %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="navbar-brand" href="{{ path('sonata_admin_redirect') }}">
                                        {% trans %}admin{% endtrans %}
                                    </a>
                                {% endif %}
                            {% endblock %}

                            {% if app.user %}
                                {% if app.request.attributes.get('_route') != 'profile' %}
                                    <a class="navbar-brand" href="{{ path('profile') }}">
                                        {% trans %}profile{% endtrans %}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if app.user %}
                            <a class="navbar-brand float-right" href="{{ path('logout') }}">
                                {% trans %}logout{% endtrans %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </header>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
